div#container {
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}
